<div class="container">
  <div class="splash header">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= image_tag("menu.png", alt: "Menu icon") %>
      <% end %>
    <% end %>
    <h2>CATEGORIES</h2>
    <%= image_tag("search.png", alt: "Search icon") %>
  </div>

  <ul class="sub-container">
    <% @groups.each do |group| %>
      <li class="group">
        <%= link_to group_path(group) do %>
          <% if group.icon.present? %>
            <%= image_tag group.icon %>
          <% else %>
            <%= image_tag asset_path('under-construction.jpeg') %>
          <% end %>
          <p><%= group.name %></p>
          <h2>$<%= group.movements.sum(:amount) %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_group_path do %>
    <div class="green-button2">
      <div>NEW CATEGORY</div>
    </div>
  <% end %>
</div>