<div class="splash header">
  <%= image_tag("menu.png", alt: "Menu icon") %>
  <h2>CATEGORIES</h2>
  <%= image_tag("search.png", alt: "Search icon") %>
</div>

<ul>
  <% @groups.each do |group| %>
    <li class="group">
      <%= link_to group_path(group) do %>
        <% if group.icon.present? %>
          <%= image_tag group.icon %>
        <% else %>
          <%= image_tag asset_path('under-construction.jpeg') %>
        <% end %>
        <h2><%= group.name %></h2>
        <p>$<%= group.movements.sum(:amount) %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to new_group_path do %>
  <div class="green-button2">
    <div>NEW CATEGORY</div>
  </div>
<% end %>
